@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
	scroll-behavior: smooth;
}

body {
	/*font-family: 'Ubuntu', sans-serif;*/
	color: #000;
}

a {
	color: rgb(0,90,130);
}

a:hover {
	color: rgb(0,90,130);
	text-decoration: underline;
}

section {
	padding: 70px 0;
}

h1 {
	font-size: 2.8rem;
	font-weight: 600;
}

h2 {
	font-size: 2.3rem;
	font-weight: 600;
}

.hidden {
	display: none;
}

.redText {
	color: #ff3300;
}

form .btn,
.archive .btn,
.btn.backBtn,
.btn-abo,
.modal-footer a.btn {
	background-color: #005493;
	color: #fff;
}

.btn-abo:hover {
	color: #fff;
}

.ui-datepicker-div {
	z-index: 99999!important;
}

.modal-footer {
	justify-content: flex-start;
	border: none;
}

.modal-header {
	border: none;
}

header {
	max-height: 100vh;
	overflow: hidden;
	position: relative;
}

header > .langnavi {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

header > .langnavi ul {
	padding: 5px 10px 5px 0;
	margin: 30px 0 0;
	list-style: none;
	float: right;
}

header > .langnavi ul li {
	margin: 0 0 0 10px;
	float: left;
	background-color: #fff;
}

header > .langnavi ul li a {
	color: #000;
	text-decoration: none;
}

header .logoContainer {
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	color: #fff;
    font-size: 1.5rem;
    text-shadow: 0px 1px 11px rgba(0, 0, 0, 0.80);
}

header .logoContainer > div,
header .logoContainer > div > div {
	height: 100%;
}

header .nextButton {
	position: absolute;
	bottom: 90px;
	width: 100%;
	text-align: center;
}

.ausgabenKopf {
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}

.card {
	border: none;
	border-top: 1px solid rgba(0,0,0,.125);
	background: transparent;
	border-radius: 0;
}

.card:last-child {
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-radius: 0;
}

.card-header,
.card-header:first-child {
	border-radius: 0;
	border-bottom: none;
	background: transparent;
	padding-left: 0;
	padding-right: 0;
}

.card-header h5 {
	position: relative;
}

.card-header button {
	padding: 0;
	color: #000;
}

.card-header button {
	font-weight: bold;
	text-decoration: none;
	width: 100%;
    text-align: left;
}

.card-header button.collapsed,
.card-header button.btn-link.collapsed:focus {
	font-weight: normal;
	text-decoration: none;
}

.card-header button:after {
	content: url('../media/iconDown.png');
	position: absolute;
	top: 7px;
	right: 0;
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.card-header button.collapsed:after {
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.card-header button:hover {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.card-body {
	padding-left: 0;
	padding-right: 0;
}

.card-body li > a[data-toggle="modal"] {
	text-decoration: underline;
	cursor: pointer;
}

.card-body li > a[data-toggle="modal"]:hover {
	text-decoration: none;
}

.aktuellButton {
	margin-top: 70px;
}

.aktuellButton a.btn {
	background-color: #005493;
	color: #fff;
}

.aktuelleAusgabe h2 {
	margin-top: 0.5rem;
}

.aktuelleAusgabe img#aktuellCover {
	width: 60%;
}

.coverBox {
	position: relative;
	overflow: hidden;
}

.coverSchatten {
	position: absolute;
	top: 100%;
	width: 70%;
	margin: 0 15%;
	-webkit-box-shadow: 0px -16px 40px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -16px 40px 4px rgba(0,0,0,0.75);
	box-shadow: 0px -16px 40px 4px rgba(0,0,0,0.75);
}

.aktuelleAusgabe .teaserText {
	display: none;
}

section.ausgaben h2,
section.mediadaten h2 {
	margin-bottom: 1em;
}

section.ausgaben .jahresauswahl {
	margin-top: -30px;
	margin-bottom: 30px;
}

section.ausgaben .jahresauswahl #jahrSelector {
	width: auto;
    display: inline;
}

section.ausgaben,
section.mediadaten,
section.bottomButtons {
	background-color: #EAF6FE;
}

section.ausgaben .carousel .carousel-control-next,
section.ausgaben .carousel .carousel-control-prev {
	width: 2%;
	min-width: 23px;
	color: #808080;
}

section.ausgaben .carousel .carousel-control-next {
	right: -50px;
}

section.ausgaben .carousel .carousel-control-prev {
	left: -50px;
}

section.ausgaben .carousel-control-prev-icon,
section.ausgaben .carousel-control-next-icon {
	background-image: url('../media/iconPrev.png');
	background-size: cover;
	width: 23px;
	height: 40px;
}

section.ausgaben .carousel-control-next-icon {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

section.ausgaben .coverPicture {
	width: 100%;
	margin-bottom: 20px;
}

section.ausgaben .coverPicture img {
	width: 100%;
}

section.ausgaben .accordion {
	border-bottom: 1px solid rgba(0,0,0,.125);
}

section.ausgaben .accordion .card-body {
	font-size: 0.8em;
}

section.ausgaben .btn.biblioButton {
	background-color: #005493;
	color: #fff;
}

section.archive > .container {
	position: relative;
}

section.archive .statLink {
	position:absolute;
	top: 0;
	right: 30px;
}

section.archive .btn-logout {
	position:fixed;
	top: 35px;
	right: 10px;
	z-index: 50;
}

section.bottomButtons a.btn {
	background-color: #005493;
	color: #fff;
	width: 95%;
}

.btn-media {
    background-color: #005493;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    color: #fff;
}
.btn-media:hover {
	color: #fff;
	opacity: 0.8;
}
.btn-media div {
	float: right;
    padding: 19px 25px;
}
.btn-media i {
	background-color: #306fa5;
	padding: 15px 20px;
	font-size: 2em;
}

.pdf-icon {
	color: #005493;
	font-size: 6em;
	display: block;
}

.pdf-icon:hover {
	color: #005493;
	opacity: 0.8;
}

footer {
	background-color: #005593;
	padding: 70px 0;
	color: #fff;
	font-size: 0.9em;
}

footer > .container > .row > div {
	text-align: center;
}

footer > .container > .row > div:first-child {
	text-align: left;
}

footer > .container > .row > div:last-child {
	text-align: right;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #fff;
	text-decoration: underline;
}

@media(max-width: 1024px) {
	section.ausgaben .carousel .carousel-control-next {
		right: -30px;
	}

	section.ausgaben .carousel .carousel-control-prev {
		left: -30px;
	}
}

@media(max-width: 767px) {
	header .logoContainer > div > div > div {
		width: 75%;
	}

	header > .langnavi ul {
		margin: 5px 0 0;
		padding: 0;
	}

	header > .langnavi ul li {
		padding: .20rem .30rem;
	}

	header .logoContainer {
		font-size: 0.8rem;
	}

	header .nextButton {
		display: none;
	}

	section.bottomButtons .col-md-3 {
		margin-bottom: 20px;
	}

	section.bottomButtons .col-md-3:last-child {
		margin-bottom: 0;
	}

	.aktuellButton {
		text-align: center;
	}

	.aktuelleAusgabe .order-first {
		-ms-flex-order: 0;
	    order: 0;
	    margin-top: 30px;
	}

	section.ausgaben .carousel .carousel-control-next,
	section.ausgaben .carousel .carousel-control-prev {
		display: none;
	}

	footer > .container > .row > div,
	footer > .container > .row > div:first-child,
	footer > .container > .row > div:last-child {
		text-align: center;
		margin-bottom: 20px;
	}

	footer > .container > .row > div:last-child {
		margin-bottom: 0;
	}

	section.archive .statLink {
		position:relative;
		top: auto;
		right: auto;
	}

	section.archive .btn-logout {
		position:relative;
		top: auto;
		right: auto;
	}

	.aktuellButton > div {
		margin-bottom: 20px;
	}

	.aktuellButton > div:last-child {
		margin-bottom: 0;
	}

	.aktivLang {
		display: none;
	}
}
