html{
	height:100%;
}
body{
	margin: 0px;
	min-height: 100%;
	height:auto !important;
	height:100%;
	background-color:#FFFFFF;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	background-repeat: repeat-y;
}
#header{
	background-image: url(/media/bg_divTop_neu.gif);
    background-repeat: no-repeat;
    clear: both;
    height: 192px;
    margin: 0;
    padding: 0;
    width: 990px;
    z-index: 0;
}
#header-language{
	padding-left: 10px;
    padding-top: 165px;
    position: absolute;
}
#content{
    height: 100%; 
	width: 995px;
	background-image:url(../media/bg_neu.jpg);
	overflow:hidden;
}
#content-left{
	min-height: 800px;
	height:auto !important;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
    top: 86px;
    width: 200px;
	background-color:#FFFFFF;
}
#content-middle{
	height: auto;
	float: left;
	width: 591px;
}
#content-middle-top{
	height: 200px;
}
#content-middle-bottom{
	height: 100%;
	
}
#content-right{
	min-height: 800px;
	height:auto !important;
	width: 203px;
	float:left;
	position: relative;
}

.SearchButton{
	background-color: #00457A;
    border: 0 none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;	
	cursor: pointer;
	height: 20px;
    width: 70px;
}
.suchfeld{
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:bold;
	width: 110px;
}
#suchformular{
	padding-left: 35px;
    padding-top: 50px;
}
h1{
	color: slategrey;
    font-family: verdana;
    font-size: x-large;
    font-weight: 500;
}
h2{
	color: #95A0B1;
    font-weight: normal;
}
h3{
	color: #95A0B1;
    font-weight: normal;
    margin-left: 38px;
}
#login_button{
	background-color: #00457A;
    border: 0 none;
    color: #FFFFFF;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin-top: 10px;
    padding: 5px 20px;
}
#fieldset_login{
	font-family: verdana;
    margin-left: 100px;
    margin-top: 30px;
    width: 330px;
}
#benutzer_neu{
	font-family: verdana;
    margin-left: 235px;
    margin-top: 30px;
    width: 330px;
}
legend{
	border: 1px solid #BDC3CF;
    font-weight: normal;
    margin-bottom: 0;
    padding: 1px 9px;
}
#logout{
	background-color: #00457A;
    border: 0 none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 5px 22px;
	text-decoration:none;
    position: absolute;
    right: 10px;
    top: 40px;
}
#statistik_link{
	background-color: #00457A;
    border: 0 none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 5px 20px;
    position: absolute;
	text-decoration:none;
    right: 10px;
    top: 10px;
}
#suchen_link{
	background-color: #00457A;
    border: 0 none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 5px 20px;
    position: absolute;
	text-decoration:none;
    right: 10px;
    top: 10px;
}
.suchformular-input{
    width: 250px;
}
.select_input{
	width:254px;
}
#pdf_link{
	text-decoration:none;
	color:#398FD1;
}
#list{
	width: 540px;
	margin-top: 40px;
}
.fehlerMeldung{
	font-size: 14px;
    margin-left: 40px;
    margin-top: 70px;
}
#benutzer_neu{
	width:500px;
}
#statistik{
	margin-left: 35px;
	margin-top: 30px;
}
#btn_setFilterStat{
	background-color: #00457A;
    border: 0 none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 22px;
    margin-left: 8px;
    margin-top: 13px;
    padding: 5px 20px;
}
.stat_keywort_td{
	width: 170px;
}
#passwort_td{
	width: 90px;
}
#benutzer_meldungen{
	margin-left: 370px;
    margin-top: 40px;
}
#de{
	background-color: #00457A;
    border: 0 none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
	text-decoration:none;
	padding: 5px 20px;
}
#fr{
	background-color: #00457A;
    border: 0 none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
	text-decoration:none;
	padding: 5px 20px;
}
#home_url{
	left: 74px;
    position: absolute;
    top: 19px;
}